@model LoanManagementSystem.Models.Collateral

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Collateral</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHidden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHidden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollateralCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollateralCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerNationalCardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerNationalCardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollateralType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollateralType.CollateralTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollateralDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollateralDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CollateralId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
